:root {
    --color-white: #fff;
    --color-orange: #FB6900;
    --color-red: #F63700;
    --color-night: #004853;
    --color-twilight: #007E80;
    --color-day: #00B9BD;

    --bg: #ffffff;
    --text: #111111;
    --card: #00B9BD;
    --border: #dddddd;

}


body[data-theme="dark"] {
    --bg: #0f1115;
    --text: #e6e6e6;
    --card: var(--color-twilight);
    --border: var(--color-night);
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: background 0.2s ease, color 0.2s ease;

}

#container {
    width: 800px;
    padding: 1rem;
    gap: 1rem;
    max-width: 800px;
}

.card {
    background: var(--card);
    border: 1px solid var(--border);
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 2px;
}

#container.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

button {
    margin: 20px;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    border: 1px solid var(--border);
    background: var(--card);
    color: var(--text);
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}