:host {
    display: block;
    flex-grow: 1;
    flex-basis: 0;
}

button {
    background-color: #d9d9d9;
    padding: 10px;
    border: 1px solid #d9d9d9;
    width: 100%;
}

button:active {
    transform: scale(0.95);
}

button:hover {
    background-color: #6b6b6b;
    cursor: pointer;
}